---
layout: splash
title: Cykelferie og cykelruter i Danmark
excerpt: "Vi beskriver cykelruter i Danmark (særligt i Østjylland, Vestjylland og Sydjylland). Skal du på cykeltur, cykelferie eller bare på dagstur, så læs med."
classes: wide
author_profile: true
eleventyExcludeFromCollections: true
header:
  overlay_image: &image /assets/images/routes/national-rute-5-roende-aarhus.jpg
  caption: "Fra national rute 4 ruten mellem Rønde og Århus."
  overlay_color: "#000"
  actions:
    - label: "Find de bedste cykelkort 🗺"
      url: "/cykelkort/"
    - label: "Se alle cykelruterne 🧭"
      url: "/cykelruter-danmark/"
feature_rows:
  feature_row_intro:
    - title: "Cykelferie, cykeloplevelser og cykelruter i Danmark"
      excerpt: "Spændende cykelruter med historier, smuk natur og masser af pedaltramp. Der er 10.000 kilometer [cykelruter i Danmark](/cykelruter-danmark/). Danmark er en nation af tohjuls-fanatikere og bøgetræer, fjorde, jordbær og klapsammenmadder i grøftekanten ved bølgende kornmarker. Danmark er som skabt til [cykelferie](/cykelferie/). Det er billigt, nemt og tilgængeligt. Ud over de [11 nationale cykelruter](/nationale-cykelruter/), der er hovedinfrastrukturen for cykelstier herhjemme, findes der også [talrige regionale og lokale cykelruter](/regionale-cykelruter/) rundt om i landet."
  blog:
    - excerpt: '[Se alle blogindlæg](/blog/){: .btn .btn--large .btn--success }'
  cykelruter:
    - excerpt: '[Se alle cykelruterne](/cykelruter-danmark/){: .btn .btn--large .btn--success }'
  some:
    - excerpt: 'Følg os på &nbsp; [<i class="fab fa-facebook-f"></i> Facebook](https://www.facebook.com/cykelruterdk/){: .btn .btn--facebook } og [<i class="fab fa-pinterest"></i> Pinterest](https://www.pinterest.com/cykelruterdk/){: .btn .btn--danger } og [<i class="fab fa-youtube"></i> Youtube](https://www.youtube.com/channel/UCfUF4e8PVP8wsU0GDPX3XwA){: .btn .btn--danger }'
feature_row:
  - image_path: https://c.pxhere.com/photos/8e/b5/family_cycling_bike_landscape_summer_sky_north_sea_sylt-723487.jpg!d
    url: /cykelruter-danmark/
    title: Cykelruter i Danmark
    excerpt: Vi har samlet en perlerække af forslag til cykelture i Danmark. Du kan kigge oversigten over danske cykelruter igennem for at planlægge din næste cykeltur.
    btn_label: Se cykelruter i Danmark
    btn_class: btn--success
  - image_path: https://images.unsplash.com/photo-1603536764976-e2d8a6d805fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80
    url: /cykelferie/
    title: Cykelferie
    excerpt: Har du overvejet at tage på en cykelferie, men er lidt i tvivl om, hvordan du skal planlægge det? Så er denne guide lige netop skrevet til dig.
    btn_label: Læs om cykelferie
    btn_class: btn--success
  - image_path: https://images.unsplash.com/photo-1601839554994-e36fcc65da74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80
    url: /planlaegning-cykeltur/
    title: Planlægning
    excerpt: Når du skal på cykeltur, så kan det betale sig at planlægge et par enkelte ting på forhånd. Planlægningen kan nemlig gøre hele cykelturen mere behagelig.
    btn_label: Læs om planlægning
    btn_class: btn--success
  - image_path: https://images.unsplash.com/photo-1504697570352-47c3bbc09af9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80
    url: /cykelkort/
    title: Cykelkort
    excerpt: Når du skal på cykeltur i Danmark, er det rigtig godt at kunne finde vej. Jeg har flere gange lavet den fejl ikke at medbringe et cykelkort, der er detaljeret nok. Der findes nogle rigtig gode cykelkort, som du kan bruge, når du planlægger din cykeltur.
    btn_label: Vælg cykelkort
    btn_class: btn--success
  - image_path: https://images.unsplash.com/photo-1551425217-96edd854ad40?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80
    url: /nationale-cykelruter/
    title: Danske nationalruter
    excerpt: I Danmark findes der 11 nationale cykelruter på hele 4.233 km cykelvenlige ruter. De nationale cykelstier forbinder alle dele af landet fra syd til nord og fra øst til vest og cykelrundture.
    btn_label: Find nationale cykelruter
    btn_class: btn--success
  - image_path: https://images.unsplash.com/photo-1551425217-96edd854ad40?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80
    url: /regionale-cykelruter/
    title: Danske regionalruter
    excerpt: I Danmark findes der et unikt netværk af regionale cykelruter på et utal af cykelvenlige ruter. Læs alt om regionalruterne og find regionale cykelkort.
    btn_label: Find regionale cykelruter
    btn_class: btn--success
---

{% include feature_row id="feature_row_intro" type="center" %}

<h2>Mest populære sider</h2>

<div class="feature__wrapper">

{% assign site_posts = collections.posts | where: "data.tags", "featured" | sort: "last_modified_at" | reverse %}
{% if site_posts.size > 0 %}
  {% for post in site_posts limit:8 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
{% endif %}

</div>

{% include feature_row id="blog" type="center" %}

<h2>Tjek de nyeste indlæg på cykel-ruter.dk</h2>

<div class="feature__wrapper">

{% assign site_posts = collections.posts | sort: "last_modified_at" | reverse %}

{% if site_posts.size > 0 %}
  {% for post in site_posts limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
{% endif %}

</div>

{% include feature_row id="blog" type="center" %}

{% include feature_row %}

{% include feature_row id="some" type="center" %}

<h2>Mest populære cykelruter</h2>

<div class="feature__wrapper">

{% assign site_posts = collections.routes | where: "data.tags", "featured" | sort: "last_modified_at" | reverse %}

{% if site_posts.size > 0 %}
  {% for post in site_posts limit:8 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
{% endif %}

</div>

{% include feature_row id="cykelruter" type="center" %}

<h2>Tjek de nyeste cykelruter</h2>

<div class="feature__wrapper">

{% assign site_posts = collections.routes | sort: "last_modified_at" | reverse %}

{% if site_posts.size > 0 %}
  {% for post in site_posts limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
{% endif %}

</div>

{% include feature_row id="cykelruter" type="center" %}
