{% assign today_date = "now" | date: '%s' | plus: 0 | minus: 31536000 %}
{% assign post_date = last_modified_at | default: date | date: '%s' | plus: 0 %}

{% if today_date < post_date %}
  {% if last_modified_at %}
    <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ last_modified_at | date: "%Y-%m-%d" }}">{{ last_modified_at | date: "%B %-d, %Y" }}</time></p>
  {% elsif date %}
    <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%B %-d, %Y" }}</time></p>
  {% endif %}
{% endif %}
